In [1]:
# Dependencies
import pandas as pd

In [2]:
# URLs of page to be scraped
url_netflix = 'https://www.comparitech.com/tv-streaming/netflix-subscribers/'
URL_sports = "https://en.wikipedia.org/wiki/List_of_attendance_figures_at_domestic_professional_sports_leagues"

# Scrape Netflix Subscriber Numbers by Country (q1 2020)

In [27]:
#scrape the netflix subscribers data table
netflix_tables = pd.read_html(url_netflix)
print("There are : ",len(netflix_tables)," tables")
netflix_tables[1]

There are :  2  tables

,Country,# of Subscribers - 2019,# of Subscribers - Q1 2020,Average Monthly Revenue per Paying Membership - Q1 2020 ($),Q1 2020 Revenue ($),# of Subscribers Q2 2020 (Estimate),Q2 2020 Revenue $ (Estimate)
0,United States,61043000.0,63124566.0,13.09,2.478902e+09,65277114.0,2.563432e+09
1,Brazil,15000000.0,16384500.0,8.05,3.956857e+08,17896789.0,4.322075e+08
2,United Kingdom,13010000.0,14757243.0,10.40,4.604260e+08,16739141.0,5.222612e+08
3,Mexico,6783000.0,7409071.0,8.05,1.789291e+08,8092928.0,1.954442e+08
4,France,6700000.0,7599810.0,10.40,2.371141e+08,8620464.0,2.689585e+08
5,Canada,6619000.0,6844708.0,13.09,2.687917e+08,7917274.0,3.109113e+08
6,Germany,6400000.0,7259520.0,10.40,2.264970e+08,8234474.0,2.569156e+08
7,Australia,4900000.0,5987310.0,8.94,1.605797e+08,6925521.0,1.857425e+08
8,Argentina,4500000.0,4915350.0,8.05,1.187057e+08,5369037.0,1.296622e+08
9,Spain,3000000.0,3402900.0,10.40,1.061705e+08,3859909.0,1.204292e+08
10,Japan,3000000.0,3665700.0,8.94,9.831407e+07,4240115.0,1.137199e+08
11,Netherlands,2800000.0,3176040.0,10.40,9.909245e+07,3602582.0,1.124006e+08
12,South Korea,2720000.0,3323568.0,8.94,8.913809e+07,3844371.0,1.031060e+08
13,New Zealand,2420000.0,2956998.0,8.94,7.930669e+07,3420360.0,9.173404e+07
14,Sweden,2100000.0,2382030.0,10.40,7.431934e+07,2701937.0,8.430042e+07
15,India,2000000.0,2443800.0,8.94,6.554272e+07,2826743.0,7.581326e+07
16,Italy,2000000.0,2268600.0,10.40,7.078032e+07,2573273.0,8.028612e+07
17,Turkey,1500000.0,1701450.0,10.40,5.308524e+07,1929955.0,6.021459e+07
18,Norway,1000000.0,1134300.0,10.40,3.539016e+07,1286636.0,4.014306e+07
19,Poland,775000.0,879083.0,10.40,2.742737e+07,997143.0,3.111087e+07
20,Chile,769000.0,839979.0,8.05,2.028549e+07,917509.0,2.215784e+07
21,UAE,322000.0,365245.0,10.40,1.139563e+07,414297.0,1.292606e+07
22,Costa Rica,242000.0,264337.0,8.05,6.383729e+06,288735.0,6.972947e+06
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Totals:,NaN,173681147.0,NaN,5.655364e+09,190185856.0,6.158454e+09

In [37]:
# make netflix table into df
netflix_df = netflix_tables[1]

In [35]:
netflix_df

,Country,# of Subscribers - 2019,# of Subscribers - Q1 2020,Average Monthly Revenue per Paying Membership - Q1 2020 ($),Q1 2020 Revenue ($),# of Subscribers Q2 2020 (Estimate),Q2 2020 Revenue $ (Estimate)
0,United States,61043000.0,63124566.0,13.09,2.478902e+09,65277114.0,2.563432e+09
1,Brazil,15000000.0,16384500.0,8.05,3.956857e+08,17896789.0,4.322075e+08
2,United Kingdom,13010000.0,14757243.0,10.40,4.604260e+08,16739141.0,5.222612e+08
3,Mexico,6783000.0,7409071.0,8.05,1.789291e+08,8092928.0,1.954442e+08
4,France,6700000.0,7599810.0,10.40,2.371141e+08,8620464.0,2.689585e+08
5,Canada,6619000.0,6844708.0,13.09,2.687917e+08,7917274.0,3.109113e+08
6,Germany,6400000.0,7259520.0,10.40,2.264970e+08,8234474.0,2.569156e+08
7,Australia,4900000.0,5987310.0,8.94,1.605797e+08,6925521.0,1.857425e+08
8,Argentina,4500000.0,4915350.0,8.05,1.187057e+08,5369037.0,1.296622e+08
9,Spain,3000000.0,3402900.0,10.40,1.061705e+08,3859909.0,1.204292e+08
10,Japan,3000000.0,3665700.0,8.94,9.831407e+07,4240115.0,1.137199e+08
11,Netherlands,2800000.0,3176040.0,10.40,9.909245e+07,3602582.0,1.124006e+08
12,South Korea,2720000.0,3323568.0,8.94,8.913809e+07,3844371.0,1.031060e+08
13,New Zealand,2420000.0,2956998.0,8.94,7.930669e+07,3420360.0,9.173404e+07
14,Sweden,2100000.0,2382030.0,10.40,7.431934e+07,2701937.0,8.430042e+07
15,India,2000000.0,2443800.0,8.94,6.554272e+07,2826743.0,7.581326e+07
16,Italy,2000000.0,2268600.0,10.40,7.078032e+07,2573273.0,8.028612e+07
17,Turkey,1500000.0,1701450.0,10.40,5.308524e+07,1929955.0,6.021459e+07
18,Norway,1000000.0,1134300.0,10.40,3.539016e+07,1286636.0,4.014306e+07
19,Poland,775000.0,879083.0,10.40,2.742737e+07,997143.0,3.111087e+07
20,Chile,769000.0,839979.0,8.05,2.028549e+07,917509.0,2.215784e+07
21,UAE,322000.0,365245.0,10.40,1.139563e+07,414297.0,1.292606e+07
22,Costa Rica,242000.0,264337.0,8.05,6.383729e+06,288735.0,6.972947e+06
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Totals:,NaN,173681147.0,NaN,5.655364e+09,190185856.0,6.158454e+09

# Scrape Sports Attendance Data by Country (varied seasons)

In [28]:
#scrape the sports attendance date from wikipedia tables
sport_tables = pd.read_html(URL_sports)
#sport_tables = pd.read_html(URL_sports,match="league")
print("There are : ",len(sport_tables)," tables")
#sport_tables[0]

There are :  4  tables

In [39]:
# Get mens sports (with min 8 million total attendance) table [0] from sports_tables and into df
mens_sports_df = sport_tables[0]
mens_sports_df.head(5)

,League,Sport,Countries,Pyramid level,Season,Teams,Games,Average capacity,Average attendance,Average attendance percentage of average capacity (%),Total attendance,Ref(s)
0,Major League Baseball (MLB),Baseball,United States Canada,1,2019,30,2430,43103,28199,66.47,68494895,[1]
1,Nippon Professional Baseball (NPB),Baseball,Japan,1,2019,12,856,36166,30928,82.36,26536962,[2]
2,National Hockey League (NHL),Ice hockey,United States Canada,1,2018–19,31,1271,"18,332 *",17456,95.17,22186851,[3]
3,National Basketball Association (NBA),Basketball,United States Canada,1,2018–19,30,1230,"19,122 *",17857,94.06,21964447,[4]
4,National Football League (NFL),American football,United States,1,2018,32,256,69800,67100,96.13,17177581,[5]

In [40]:
# Get womens sports table [1] from sports_tables and into df
womens_sports_df = sport_tables[1]
womens_sports_df.head(5)

,League,Inaugural season,Sport,Country,Pyramid Level,Season,Teams,Games,Average attendance,Total attendance,Ref(s)
0,Women's National Basketball Association (WNBA),1997,Women's basketball,United States,1,2019,12,204,"6,535[18]",1333093,[19]
1,Women's Big Bash League (WBBL),2007,Cricket,Australia,1,2016–17,8,59,14450,852549,1
2,National Women's Soccer League (NWSL),2013,Association football,United States,1,2019,9,108,7337,792409,[20]
3,Liga MX Femenil,2017,Association football,Mexico,1,2017 Apertura,16,118,3492,412006,[21]
4,AFL Women's (AFLW),2017,Australian rules football,Australia,1,2019,10,38,6626,251792,[22]

In [41]:
# Get outdoor sports table [2] from sports_tables and into df
outdoor_sports_df = sport_tables[2]
outdoor_sports_df.head(5)

,League,Sport,State(s),Pyramid level,Season,Teams,Games,Total attendance,Averageattendance,Ref(s)
0,National Football League (NFL),American football,United States,1,2018,32,256,17177581,67100,[5]
1,Fußball-Bundesliga (Bundesliga),Association football,Germany,1,2018–19,18,306,13298147,43458,[8]
2,English Premier League (EPL),Association football,United Kingdom,1,2018–19,20,380,14503954,38168,[6]
3,Australian Football League (AFL),Australian rules football,Australia,1,2019,18,207,6954187,35122,[24]
4,Nippon Professional Baseball (NPB),Baseball,Japan,1,2019,12,858,"26,536,962 [C]",30928,[2]

In [42]:
# Get indoor sports table [3] from sports_tables and into df
indoor_sports_df = sport_tables[3]
indoor_sports_df.head(5)

,League,Sport,State(s),Pyramid level,Season,Teams,Games,Total attendance,Average attendance,Ref
0,National Basketball Association (NBA),Basketball,United States Canada,1,2017–18,30,1230,22124559,17987,[4]
1,National Hockey League (NHL),Ice hockey,United States Canada,1,2017–18,31,1271,22174362,17446,[3][131]
2,Big3,Basketball,United States,Independent,2018,8,32,431500,13484,[132]
3,National Lacrosse League (NLL),Indoor lacrosse,United States Canada,1,2018,9,81,762367,9411,[133]
4,EuroLeague,Basketball,Europe,International clubs competition,2016–17,16,259,2194238,8472,[134]